.navbar{
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 78px;
  color: white;
  background:#161F26;
  z-index: 2;
 
}
.pointer {
  &:hover {
    cursor: pointer;
  }
}